{% extends "home/base.html" %}

{% block content %}
	<header class = "w3-display-container w3-content w3-wide" style = "max-width:100%;">
		<img class = "w3-image center" src = "/media/chicago_skyline.jpg" alt = "Skyline" style = "display: block; margin-left: auto; margin-right: auto; height:auto;">
	</header>
	<br/><br/>
	<div class = "w3-container w3-padding-32" style = "padding-left: 20px; padding-right: 20px;" id = "about">
		<h3 class = "w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
		<p>This site provides Chicago residents with accurate data tracking and analysis of all Chicago service requests that were created in the year 2018 and later.
			Once an account has been created, Chicago residents will have the ability to report new service requests, view all existing requests, check the status of existing requests, and be stay informed about all newly created and completed service requests in their area via an autonomous notification system.
		</p>
	</div>
	<br/>
	<div class = "w3-container w3-padding-32" style = "padding-left: 20px; padding-right: 20px;" id = "contact">
		<h3 class = "w3-border-bottom w3-border-light-grey w3-padding-16">Contact Us</h3>
		<p style = "font-size: 18px"><i>Getting in touch with us is easy!</i></p>
		<p>
			For questions and/or concerns regarding account services please email <a href = "mailto:aliceyu2@illinois.edu?Subject=TeamHawkeye%20CSR%20Account%20Services%20Question/Concern">aliceyu2@illinois.edu</a>.<br/>
			For questions and/or concerns regarding service request creation, deletion, or modification please email <a href = "mailto:cryals2@illinois.edu?Subject=TeamHawkeye%20CSR%20Service%20Request%20Question/Concern">cryals2@illinois.edu</a>.<br/>
			For any other questions and/or concerns please email <a href = "mailto:saali4@illinois.edu?Subject=TeamHawkeye%20CSR%20General%20Question/Concern">saali4@illinois.edu</a>.
		</p>
	</div>
{% endblock %}